:root {
    --background-color: #E6EFF5;
    --teal-color: #2AB3B1;
    --green-color: #C0DF33;
    --body-color: #9AA7BE;
    --white: #FFF;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

html {
    background-color: var(--background-color);
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    text-align: center;
}

.btn{
    width: 100%;
    padding: 10px 0;
    background-color: var(--green-color);
    display: block;
    text-align: center;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.10);
    border-radius: 5px;


    font-weight: 700;
    font-size: 1rem;
    color: var(--white);
    letter-spacing: -0.2px;
    text-decoration: none;

    transition: 300ms all cubic-bezier(.8, .5, .2, 1.4);
}

.btn:hover{
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.20);
    transform: scale(1.05);
}

.card-single {
    max-width: 635px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--white);
    z-index: 99;
    border-radius: 8px;

    box-shadow: 0 15px 30px 0 rgba(0,81,171,0.15);
}

.top-section{
    padding: 40px 40px 20px 40px;
}

.page-title {
    color: var(--teal-color);
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: -0.3px;
    margin-bottom: 30px;
}

.page-subtitle {
    color: var(--green-color);
    font-weight: 700;
    font-size: 1.1rem;
    letter-spacing: -0.22px;

}

.page-content{
    color: var(--body-color);
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: -0.2px;
    line-height: 26px;
}

.bottom-section{
    background-color: var(--teal-color);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.sections{
    display: inline-flex;
    width: 100%;
}

.left-section,.right-section{
    flex-basis: 50%;
}

.left-section{
    padding: 40px 40px 20px 40px;
}

.right-section{
    padding: 40px 40px 20px 40px;
    position: relative;
}

.right-section:before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255, 0.15);
}

.left-section > h3{
    font-weight: 700;
    font-size: 1.1rem;
    color: var(--white);
    letter-spacing: -0.22px;

    margin-bottom: 20px;
}

.left-section > h4{
    font-weight: 700;
    font-size: 2rem;
    color: var(--white);
    letter-spacing: -0.4px;
    margin-bottom: 10px;
}

.left-section > h4 span{
    opacity: 0.5;
    font-weight: 400;
    font-size: 1rem;
    color: var(--white);
    letter-spacing: -0.2px;
    line-height: 26px;
}

.left-section > h5{
    font-weight: 400;
    font-size: 1rem;
    color: var(--white);
    letter-spacing: -0.2px;
    line-height: 26px;
    margin-bottom: 25px;
}

.right-section > h3{
    font-weight: 700;
    font-size: 1.1rem;
    color: var(--white);
    letter-spacing: -0.22px;
}

.features{
    padding: 0;
}

.features > li {
    opacity: 0.75;
    font-weight: 400;
    font-size: 0.875rem;
    color: #FFFFFF;
    letter-spacing: -0.17px;
    line-height: 20px;

    list-style: none;
}

@media (max-width: 540px) {
    body{
        padding: 30px;
        overflow-y: scroll;
    }
    .sections{
        display: block;
    }
}